.btn-group-date button {
    margin: 0px 10px 0px 0px;
}

/* Custom Add New Batch Button*/
.btn-new-batch {
    height: 72px;
    width: 72px;
    position: fixed;
    right: 5%;
    top: 25%;
    border-radius: 50px !important;
}

.batch-table {
    margin-bottom: 20px !important;
}

.small-form {
    margin: 0px 30%;
}
/* ID */
#productor {
    min-height: 200px !important;
}

#productor optgroup option {
    padding-top: 3px;
    padding-bottom: 3px;
}